<div class="row">
  <div class="col-xs-2 col-sm-3  "></div>
  <div class="col-xs-8 col-sm-6 ">
    <form id="login-form" class="text-left">
      <div class="row text-center">
        <image-component [setup]="logo"></image-component>
        <div [hidden]="!error"
             class="alert alert-danger">
          {{error}}
        </div>
      </div>
      <div class="login-form-main-message"></div>
      <div class="main-login-form">
        <div class="login-group">
            <input-component [setup]="userInput"></input-component>
            <input-component [setup]="passwordInput"></input-component>
        </div>
        <button type="submit" class="btn btn-primary btn-md" (click)="login()">{{ 'user-login' | translate }}</button>
      </div>
      <hr/>
    </form>
  </div>
  <div class="col-xs-2 col-sm-3 "></div>
</div>
