<article>
  <div class="row">
    <div class="col-xs-12 col-sm-4 bg-primary">
      <image-component [setup]="schoolPicture"></image-component>
    </div>
    <div class="col-xs-12 col-sm-8">
      <div class="row">
        <div class="col-xs-4">
          <p>{{ 'user-health' | translate }}</p>
        </div>
        <div class="col-xs-8">
          <p>{{warlock.health}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <p>{{ 'user-strength' | translate }}</p>
        </div>
        <div class="col-xs-8">
          <p>{{warlock.strength}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <p>{{ 'user-magic' | translate }}</p>
        </div>
        <div class="col-xs-8">
          <p>{{warlock.magic}}</p>
        </div>
      </div>
    </div>
  </div>

  <hr/>
  <div class="row">
    <div class="col-xs-12 col-sm-3 bg-primary">power 1</div>
    <div class="col-xs-12 col-sm-9"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dolor mauris, sodales
      vel lacinia vehicula, dapibus in sapien. Quisque mollis aliquet erat quis maximus. Vivamus sit amet lobortis
      purus.</p></div>
  </div>

  <hr/>
  <div class="row">
    <div class="col-xs-12 col-sm-3 bg-primary">power 2</div>
    <div class="col-xs-12 col-sm-9"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dolor mauris, sodales
      vel lacinia vehicula, dapibus in sapien. Quisque mollis aliquet erat quis maximus. Vivamus sit amet lobortis
      purus.</p></div>
  </div>

  <hr/>
  <div class="row">
    <div class="col-xs-12 col-sm-3 bg-primary">power 3</div>
    <div class="col-xs-12 col-sm-9"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dolor mauris, sodales
      vel lacinia vehicula, dapibus in sapien. Quisque mollis aliquet erat quis maximus. Vivamus sit amet lobortis
      purus.</p></div>
  </div>

  <hr/>
  <div class="row">
    <div class="col-xs-12 col-sm-3 bg-primary">power 4</div>
    <div class="col-xs-12 col-sm-9"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dolor mauris, sodales
      vel lacinia vehicula, dapibus in sapien. Quisque mollis aliquet erat quis maximus. Vivamus sit amet lobortis
      purus.</p></div>
  </div>
</article>
